# 리스트 아이템 수정

- 인덱싱, 슬라이싱 이용

In [5]:
a = list(range(1,5))
a

[1, 2, 3, 4]

In [6]:
# 하나의 인덱스 수정
# 0번 인덱스 값을 [10, 20]으로 수정
# 결과 : [[10,20],2,3,4]

a[0] = [10,20]
a

[[10, 20], 2, 3, 4]

In [7]:
# 연속된 범위에서 여러개의 아이템 수정
# 0번 인덱스만 선택 <= 슬라이싱

a2 = [1,2,3,4]
a2[:1] = [10,20]
a2

[10, 20, 2, 3, 4]

In [8]:
# 슬라이싱으로 값을 할당할 때 주의점 : 전달하는 값이 1개여도 리스트로 입력
# 동작원리가 extend()와 동일하기 때문

# error 
a2[:1] = 100

TypeError: can only assign an iterable

In [10]:
a2[:1] = [100]
a2

[100, 20, 2, 3, 4]

## << 연습문제 >>

아래 조건에 맞추어 리스트를 수정하세요.

[ 10, 99, 3, '사과', 73, '바나나' ]

조건1)  '사과'를 'apple'로 수정  
조건2)  99, 3 을 9, 33으로 수정  
조건3)  73 을 [ 73, 74 ] 로 수정

In [13]:
b = [ 10, 99, 3, '사과', 73, '바나나' ]

In [15]:
# 조건1) '사과'를 'apple'로 수정

b[3] = 'apple'
b

[10, 99, 3, 'apple', 73, '바나나']

In [16]:
# 조건2)  99, 3 을 9, 33으로 수정 

b[1:3] = [9,33]
b

[10, 9, 33, 'apple', 73, '바나나']

In [17]:
# 조건3)  73 을 [ 73, 74 ] 로 수정

b[-2] = [73,74]
b

[10, 9, 33, 'apple', [73, 74], '바나나']