# 3. 딕셔너리(Dictionary)

▶ 문법 기호/함수 : {key1 : value1, key2 : value2, key3 : value3 ... } / 함수 : dict()


▶ key로 가질 수 있는 데이터 타입 : 문자, 숫자, 튜플(Tuple)

▶ value로 가질 수 있는 데이터 타입 : 문자, 숫자, 리스트(List), 딕셔너리(Dict) ...

▶ 아이템 = key&value 하나의 쌍

▶ 종류

     * 아이템이 없는 딕셔너리
    
     * 1차원 딕셔너리
    
     * 다차원 딕셔너리 
    
    
▶ 특징

     * key, value의 차이점
    
     * 인덱스 번호를 가지지 않는다.

### 1. 생성하기

In [1]:
# 딕셔너리 생성하기
# 문법기호 : {k1:v1, k2:v2 ......}
d1 = {1:10, 2:20, 3:30}
type(d1)

dict

In [3]:
# dict()를 이용해서 생성할수도 있다.
d2 = dict()
type(d2)

dict

In [5]:
# 2차원 자료를 이용해 딕셔너리로 변환 가능
x = [['a', 'b'], 
     ['a1', 'b1'], 
     ['a2', 'b2']]
type(x)

list

In [6]:
# 딕셔너리로 변환
dict(x)

{'a': 'b', 'a1': 'b1', 'a2': 'b2'}

In [7]:
# 딕셔너리의 value값에 들어갈 수 있는 자료에는 제약이 없다
{1:[1, 2, 3], 2:{'a':'b'}}

{1: [1, 2, 3], 2: {'a': 'b'}}

In [8]:
# key와 value의 차이
# key값에는 중복된 자료가 못 들어가며
# 만약 선언단계에서 중복된 key로 선언시 가장 마지막 하나만 반영된다.
{"name":'홍길동', 'name':'임꺽정', 'name2':'임꺽정'}

{'name': '임꺽정', 'name2': '임꺽정'}

### 2. 인덱싱

- 인덱싱 문법 기호

- 일차원 Vs 다차원 인덱싱

- 딕셔너리 내장함수로 인덱싱

In [10]:
# 기존의 인덱싱 방법 : 객체[인덱싱번호]
a = [1, 2, 3]
a[0]

1

In [11]:
# 문자, 리스트타입 인덱싱과의 차이점 : 기준값이 인덱스번호가 아닌 key값을 사용
d1 = {'a':10, 'b':20, 'c':30}

In [15]:
# 인덱싱 방식 : 없는 key값을 조회하면 에러
d1['c']

30

In [19]:
# 내장함수 .get()을 사용하면, 없는 키값으로 조회해도 에러가 나지 않는다.
d1.get('bd')

In [20]:
# 딕셔너리는 슬라이싱이 불가능하다.
# 슬라이싱 대신 반복문을 사용해야 한다.
d1['a':'c']

TypeError: unhashable type: 'slice'

### << 연습문제 >>

아래와 같은 다차원 딕셔너리를 만들고 제시한 값을 출력해보세요.

    {'a' : [1, 2, 3], 'b' : 100, 'c' : {'key1' : ['파인애플', '포도', '바나나'], 'key2' : (55, 66)}}
    
* 1) 3 출력하기

* 2) ['파인애플', '포도', '바나나']

* 3) 포도 출력하기

* 4) 55 출력하기

In [21]:
d1= {'a' : [1, 2, 3], 
     'b' : 100, 
     'c' : {'key1' : ['파인애플', '포도', '바나나'], 
            'key2' : (55, 66)}}

In [24]:
#* 1) 3 출력하기
d1['a'][2]

3

In [26]:
#* 2) ['파인애플', '포도', '바나나']
d1['c']['key1']

['파인애플', '포도', '바나나']

In [28]:
#* 3) 포도 출력하기
d1['c']['key1'][1]

'포도'

In [30]:
#* 4) 55 출력하기
d1['c']['key2'][0]

55

### 3. 아이템 추가하기

- 인덱싱 방식으로 새로운 아이템 추가

- 메소드 : update()

In [1]:
d1 = {'a':1, 'b':2, 'c':3}

In [2]:
# 새로운 key값(인덱싱)에 value값을 할당하여 아이템 추가
d1['d'] = 4
d1

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [3]:
# 기존에 존재하는 key값에 대해서 value를 할당하면 값이 새롭게 갱신됨
d1['a'] = 10
d1

{'a': 10, 'b': 2, 'c': 3, 'd': 4}

In [4]:
# 하나 이상의 아이템(key & value) 추가/수정 : 딕셔너리자료.update()
# 추가할 아이템 타입 : 딕셔너리를 직접 넣어줘도 되고
# 딕셔너리로 변환이 가능한 리스트를 넣어줘도 됩니다.
# 'e':10, 'z':40, 'v':100
d1.update({'e':10, 'z':40, 'v':100})
d1

{'a': 10, 'b': 2, 'c': 3, 'd': 4, 'e': 10, 'z': 40, 'v': 100}

In [5]:
# 리스트로 처리하기
d2 = {'a':10, 'b':2, 'c':3, 'd':4}

In [6]:
data = [['b', 10], 
        ['e', 50], 
        ['f', 100]]
d2.update(data)
d2

{'a': 10, 'b': 10, 'c': 3, 'd': 4, 'e': 50, 'f': 100}

In [7]:
# 딕셔너리로 변환되는 리스트 형식이기 때문에 가능합니다.
dict(data)

{'b': 10, 'e': 50, 'f': 100}

In [8]:
# 딕셔너리를 리스트로 돌릴때는 키값만 복원됩니다.
list(d2)

['a', 'b', 'c', 'd', 'e', 'f']

### 4. 삭제하기

- 하나의 아이템 삭제하기

- 모든 아이템 삭제하기 : 빈 딕셔너리만 남습니다.

In [9]:
# 하나의 아이템 삭제하기 : del 키워드 + 딕셔너리 인덱싱
# 단, .get()을 이용한 삭제는 불가능합니다.
d2

{'a': 10, 'b': 10, 'c': 3, 'd': 4, 'e': 50, 'f': 100}

In [10]:
del d2['d']# del d2.get('d') 로는 동작하지 않으므로 주의해주세요.
d2

{'a': 10, 'b': 10, 'c': 3, 'e': 50, 'f': 100}

In [11]:
# 딕셔너리 통째로 비우기 : 딕셔너리.clear()
# del은 딕셔너리 자체를 파기(상자도 사라짐)하지만, .clear()는 빈 딕셔너리를 남깁니다.
d2.clear()

In [12]:
d2

{}

In [13]:
d1

{'a': 10, 'b': 2, 'c': 3, 'd': 4, 'e': 10, 'z': 40, 'v': 100}

In [14]:
# 주의 : del 키워드로 변수 삭제시 통째로 자료가 날아감(빈 딕셔너리도 없음)
del d1
d1

NameError: name 'd1' is not defined

### 5. 딕셔너리 내장함수 & 관련 연산자

- 딕셔너리타입.keys()

- 딕셔너리타입.values()

- 딕셔너리타입.items()

- in 연산자

In [15]:
# 딕셔너리가 가지고 있는 key만 리스트 형식으로 반환 : .keys()
d1 = {'name':'홍길동', 'age':18, 'job':'학생'}
d1.keys()

dict_keys(['name', 'age', 'job'])

In [17]:
# 리스트로 교환이 쉽습니다.(자료형 변환)
list(d1.keys())

['name', 'age', 'job']

In [18]:
# 딕셔너리가 가지고 있는 value만 리스트 형식으로 변환 : .values()
d1.values()

dict_values(['홍길동', 18, '학생'])

In [19]:
# 딕셔너리가 가진 아이템(key & value쌍)을 튜플로 묶어서 리스트 형식으로 반환
# .items()
d1.items()

dict_items([('name', '홍길동'), ('age', 18), ('job', '학생')])

In [25]:
list(d1.items())

[('name', '홍길동'), ('age', 18), ('job', '학생')]

In [29]:
# in 키워드로 조회할 key값이 존재하는지 여부를 검사할 수 있습니다.
'age' in d1

True

### << 연습문제 >>

1. 아래와 같은 딕셔너리를 생성하고 해당 딕셔너리의 value 중 최소값을 구하여 형식에 맞게 출력하세요.

         - 생성 딕셔너리 : {'A':9, 'B':80, 'C':70}
         
         - 조건1. 생성한 딕셔너리에 " 'D' : 20, 'E' : 100, 'F' : 10  " 아이템 3개를 추가하세요.
         
         - 조건2. key 'A'의 값을 9 에서 90 으로 변경하세요.
         
         - 조건3. '최소 값 10을 가진 key는 F입니다.'로 포맷팅을 사용하여 출력하고 10을 포맷팅 값으로 사용하세요.
         
         - 조건4. 최소 값은 딕셔너리에 속한 내장함수와 파이썬 내장함수를 모두 사용하여 구해보세요.

In [30]:
d1 = {'A':9, 'B':80, 'C':70}

In [31]:
#1. 생성한 딕셔너리에 " 'D' : 20, 'E' : 100, 'F' : 10  " 아이템 3개를 추가하세요.
d1['D'] = 20
d1.update({'E':100, 'F':10})
d1

{'A': 9, 'B': 80, 'C': 70, 'D': 20, 'E': 100, 'F': 10}

In [32]:
#2. key 'A'의 값을 9 에서 90 으로 변경하세요.
d1['A'] = 90
d1

{'A': 90, 'B': 80, 'C': 70, 'D': 20, 'E': 100, 'F': 10}

In [33]:
#3. '최소 값 10을 가진 key는 F입니다.'로 포맷팅을 사용하여 출력하고 
# 10을 포맷팅 값으로 사용하세요.(%d, %s 등을 사용해주세요.)
'최소값 %d를 가진 key는 %s입니다.' % (d1['F'], 'F')

'최소값 10를 가진 key는 F입니다.'

In [34]:
#4. 최소 값은 딕셔너리에 속한 내장함수와 파이썬 내장함수를 모두 사용하여 구해보세요.
# min(리스트) 를 실행하면 해당 리스트 내에서 가장 작은 값 하나가 잡혀나옵니다.
min(d1.values())

10