# Series 자료형

dictionary와 유사

In [1]:
import pandas as pd

In [2]:
# dictionary 자료형으로 Series 생성

data = {'서울':100, '경기':200, '강원':300, '부산':400}
sample = pd.Series(data)
print(data)
print(sample)

{'서울': 100, '경기': 200, '강원': 300, '부산': 400}
서울    100
경기    200
강원    300
부산    400
dtype: int64

In [3]:
# Series 객체와 in 연산자
# in 연산자를 사용해 내부 요소 존재 유무 검사
# key에 해당하는 라벨을 이용해 해당 요소가 존재 유무를 True, False로 출력
print('서울' in data)
print('서울' in sample)

True
True

In [6]:
# for 문에서 in 연산자로 접근 : Series의 value 참조
for key in data:
    print(key)
print('------------')
for index in sample.index:
    print(index)
print('------------')
for value in sample.values:  # sample만 입력해도 같은 결과
    print(value)
print('------------')
for value in sample:  # sample만 입력해도 같은 결과
    print(value)

서울
경기
강원
부산
------------
서울
경기
강원
부산
------------
100
200
300
400
------------
100
200
300
400

In [7]:
# 서울, 경기, 강원, 부산 => 서울, 경기, 강원, 제주로 인덱스 변경
# 지정한 index 기준으로 Series 생성
# 사용된 index에 값이 없을 때는 NaN 저장
# NaN: Not a Number -> numpy 에서 해당 위치가 비었음을 의미하는 자료(null)
# None : 파이썬 기본 자료형에서 값이 없음을 의미

index2 = ['서울', '경기', '강원', '제주']
sample2 = pd.Series(data, index=index2)
sample2

서울    100.0
경기    200.0
강원    300.0
제주      NaN
dtype: float64