# 산술연산

- series 객체와 스칼라 값의 산술연산 => BroadCasting
- series 객체 간의 산술연산
    - 인덱스의 라벨이 동일한 것끼리 연산 수행, 공통으로 존재하지 않는 경우 NaN 반환
    - 라벨이 없는 경우 차례대로 연산 수행, 개수가 동일하지 않는 경우 NaN 반환
    - fill_value 인자를 통해 NaN이 아닌 특정 값으로 대체 가능

<img src="img/series_math.png" width="500" align="center">

- 연산의 종류
    - 더하기 : +, add() 메서드
    - 빼기 : -, sub() 메서드
    - 곱하기 : *, mul() 메서드
    - 나머지만 반환 : %
    - 몫만 반환 : //

In [2]:
import pandas as pd

# s1 -> 라벨 : a, b, c, d -> 데이터 4개 [1, 2, 3, 4]
# s2 -> 라벨 : a, c, d, e, f, g -> 데이터 6개 [10, 20, 30, 40, 50, 60]
s1 = pd.Series([1, 2, 3, 4], index=list('abcd'))
s2 = pd.Series([10, 20, 30, 40, 50, 60], index=list('acdefg'))

In [3]:
s1 * 3

a     3
b     6
c     9
d    12
dtype: int64

In [4]:
# 공통 라벨인 a, c, d에만 값 부여. 어느 한쪽에만 존재하는 라벨들은 NaN
s1 + s2

a    11.0
b     NaN
c    23.0
d    34.0
e     NaN
f     NaN
g     NaN
dtype: float64

In [10]:
# fill_value : 공통으로 존재하지 않는 라벨에 대해 NaN을 적용하지 않고 NaN을 특정값으로 대체하여 더함

print( s1.add(s2) )
print( s1.add(s2, fill_value=9999) )

a    11.0
b     NaN
c    23.0
d    34.0
e     NaN
f     NaN
g     NaN
dtype: float64
a       11.0
b    10001.0
c       23.0
d       34.0
e    10039.0
f    10049.0
g    10059.0
dtype: float64

In [11]:
s1.sub(s2, fill_value=0)

a    -9.0
b     2.0
c   -17.0
d   -26.0
e   -40.0
f   -50.0
g   -60.0
dtype: float64

In [12]:
s1.mul(s2, fill_value=1)

a     10.0
b      2.0
c     60.0
d    120.0
e     40.0
f     50.0
g     60.0
dtype: float64

In [14]:
s1.divide(s2, fill_value=1)

a    0.100000
b    2.000000
c    0.150000
d    0.133333
e    0.025000
f    0.020000
g    0.016667
dtype: float64

## 연습 문제

1. 실습 데이터 생성 : 1 ~ 100(미만) 사이의 랜덤 정수 값을 26개 저장한 Series를 생성하고 A~Z까지의 알파벳으로 라벨링 설정

In [15]:
import numpy as np

np.random.seed(1021)

In [23]:
data = np.random.randint(1, 100, 26)
index_data = [ chr(i) for i in range(ord('A'), ord('Z')+1) ]
s = pd.Series(data, index=index_data)
s

A     3
B    43
C    75
D    26
E    92
F    53
G     9
H     8
I    79
J    16
K    20
L    33
M    10
N    28
O    35
P    81
Q    67
R    60
S    57
T    81
U    24
V    27
W    85
X    97
Y    40
Z    65
dtype: int64

In [25]:
s['K']

20

In [26]:
s[['A', 'F', 'C']]

A     3
F    53
C    75
dtype: int64

In [27]:
s[5:16]

F    53
G     9
H     8
I    79
J    16
K    20
L    33
M    10
N    28
O    35
P    81
dtype: int64

In [28]:
s[-5:]

V    27
W    85
X    97
Y    40
Z    65
dtype: int64

In [31]:
s[s > s.mean()]

C    75
E    92
F    53
I    79
P    81
Q    67
R    60
S    57
T    81
W    85
X    97
Z    65
dtype: int64

In [41]:
50 in s.values

False

In [33]:
len(s)

26

In [34]:
np.nan == np.nan

False

In [37]:
s1 = pd.Series([1,np.nan])
s2 = pd.Series([1,np.nan])
s1 == s2

0     True
1    False
dtype: bool

In [40]:
len(s1)

2

In [39]:
s1 == s3

0     True
1    False
dtype: bool