In [5]:
# 두 정수 사이의 합

def solution(a, b):
    answer = 0
    if a > b:
        a, b = b, a
    nums = [ i for i in range(a, b + 1)]
    answer = sum(nums)    
    
    return answer

In [6]:
print(solution(5, 3))

12

In [1]:
# 수박수박수

def solution(n):
    answer = ''
    for i in range(1, n + 1):
        if i % 2 == 0:
            answer += '박'
        else:
            answer += '수'
    return answer

solution(3)

'수박수'

In [2]:
# 서울에서 김서방 찾기

def solution(seoul):
    answer = ''
    for i in range(len(seoul)):
        if 'Kim' == seoul[i]:
            answer = f'김서방은 {i}에 있다'
    return answer
solution(["Jane", "Kim"])

'김서방은 1에 있다'

In [ ]:
# 더 좋은 코드
def findKim(seoul):
    return "김서방은 {}에 있다".format(seoul.index('Kim'))

In [48]:
%%time
# 약수의 합
# 제곱근 + 1 까지만 반복
def solution(n):
    result = []
    for i in range(1, int(n**.5)+1):
        if n % i == 0:
            result.extend([i, n//i])
    return sum(result)
solution(500)

CPU times: user 24 µs, sys: 5 µs, total: 29 µs
Wall time: 32.2 µs

1092

In [47]:
%%time
# 숫자 전체를 반복
# 중간을 넘어가면 중복되기 때문에 집합 자료형으로 설정
def solution(n):
    result = set()
    for i in range(1, n+1):
        if n % i == 0:
            result.update([i, n//i])
    return sum(result)
solution(500)

CPU times: user 79 µs, sys: 16 µs, total: 95 µs
Wall time: 101 µs

1092

In [7]:
%%time
# 문자열 내 p와 y의 개수

def solution(s):
    p_num, y_num = 0, 0
    for i in s:
        if 'p' == i.lower():
            p_num += 1
        elif 'y' == i.lower():
            y_num += 1
    return p_num == y_num
solution('Hello Python')

CPU times: user 25 µs, sys: 17 µs, total: 42 µs
Wall time: 47.4 µs

True

In [6]:
%%time
s.lower().count('p') == s.lower().count('y')

CPU times: user 6 µs, sys: 4 µs, total: 10 µs
Wall time: 14.8 µs

True

In [16]:
# 같은 숫자는 싫어

arr = [1, 1, 3, 3, 0, 1, 1]

def solution(arr):
    result = [arr[0]]
    for i in range(1, len(arr)):
        if result[-1] != arr[i]:
            result.append(arr[i])
    return result
solution(arr)

[1, 3, 0, 1]

In [24]:
%%time
# 가운데 글자 가져오기

s = "qwer"
a = ''
if len(s) % 2 == 1:
    a = s[(len(s)//2)]
else:
    a = s[(len(s)//2)-1]+s[(len(s)//2)]
a

CPU times: user 12 µs, sys: 8 µs, total: 20 µs
Wall time: 24.8 µs

'we'

In [23]:
%%time
# 와, 슬라이싱 이용해 한 줄로 완성하다니...
# 홀수이면 가운데(인덱스가 0부터 시작하니): ( 5-1 ) // 2 = 2 (3번째)
# 짝수이면 (4-1) //2 = 1(2번째), 2(3번째)

str = "qwer"
a = str[(len(str)-1)//2:len(str)//2+1]
a

CPU times: user 16 µs, sys: 11 µs, total: 27 µs
Wall time: 32.4 µs

'we'

In [40]:
a = list(map(int, input()))

for i in range(1, len(a)):
    for j in range(i, 0, -1):
        if a[j-1] < a[j]:
            a[j-1], a[j] = a[j], a[j-1]
for i in a:
    print(i, end='')

999998999
999999998

In [46]:
a = pd.DataFrame([[1, 2], [3, np.nan]])
b = a
a == b

      0      1
0  True   True
1  True  False