# 자료형

여러 개의 아이템들을 저장하는 객체 = 여러 개의 값(데이터타입)을 저장하는 그릇

## 1. 리스트(List)

▶ 문법 기호 : [아이템1, 아이템2, 아이템3 .... ]


▶ 용어 : 아이템 = 요소


▶ 아이템으로 가질 수 있는 데이터 타입 : 문자, 숫자, 리스트, 딕셔너리 ...


▶ 종류

     * 아이템이 없는 리스트
    
     * 1차원 리스트
    
     * 다차원 리스트 
    
    
▶ 특징

     * 인덱스 활용
    
     * 다차원 리스트의 구조에 대한 이해

### 1. 생성하기

In [2]:
# 빈 리스트 생성하기 = 아이템이 없는 리스트
# 문법기호 : []
# 함수 : list()
a = []
a2 = list()
print(type(a), type(a2))
print(a, a2)

<class 'list'> <class 'list'>
[] []

In [3]:
# 모든 데이터타입을 아이템으로 가질 수 있다.
a3 = ['a', 
      10, 
      1.1, 
      [1, 23.1, 'a']]

In [13]:
# 2차원 데이터는 마치 좌표처럼 데이터를 지목해 출력할 수 있습니다.
a3[3][0]

1

## 2. 인덱싱, 슬라이싱

리스트를 인덱스 번호로 접근하면 해당하는 위치의 값(아이템)을 가져온다.

* 복습

    - 첫 번째 인덱스 번호는 ? : 0번 인덱스
    - 마지막 인덱스 번호는 ? : -1

### 인덱싱(Indexing)

특정 위치에 있는 하나의 아이템에 접근한다 = 하나의 값을 출력한다.

In [14]:
# 리스트 생성하기
a = [1, 2, 3, 4, 5, 6, 7, 8, 9]

In [15]:
# 첫 번째 아이템 인덱스 번호 : 0
# 인덱싱 문법: 객체[인덱스번호]
a[0]

1

In [16]:
# 리스트에서 6이라는 아이템 가져와보기
a[5]

6

In [19]:
# 리스트의 마지막 값 확인하기
a[8]
a[-1]
a[len(a) - 1]

9

In [20]:
# len()은 인덱스 번호를 가지는 모든 자료의 길이를 재줍니다.
len(a)

9

### 슬라이싱(Slicing)

- 정의 복습 : 연속된 범위에 있는 하나 혹은 하나 이상의 여러개 아이템에 접근한다
- 문법기호 : 리스트[시작번호:끝번호(:간격)] => 역시 마지막번호 -1까지만 접근

In [21]:
a

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [22]:
# 리스트의 0~2번째 아이템가지 확인하기
# 시작번호 : 0
# 끝번호 : 2 -> 3
a[0:3]

[1, 2, 3]

In [23]:
# 리스트의 3번째 아이템부터 마지막 아이템까지 확인하기
a[3:]

[4, 5, 6, 7, 8, 9]

### 3. 아이템 추가하기 : 연산자와 함수를 이용한 리스트 아이템 추가

1) 산술연산자 : +, *
ㅈㅈ
2) 리스트의 함수(메서드) : 리스트.append(), 리스트.extend(), 리스트.insert()

### 3-1) 산술연산자

    - 종류 : +, *
    - 특징 : 원본에 반영되지 않는다(시뮬레이션)

In [24]:
# 리스트끼리 연결 : +
a = [1, 2, 3]
b = [4, 5, 6]

In [25]:
a + b

[1, 2, 3, 4, 5, 6]

In [26]:
print(a, b)

[1, 2, 3] [4, 5, 6]

In [27]:
# 리스트 대상 곱하기 : *
b * 3 #b + b + b

[4, 5, 6, 4, 5, 6, 4, 5, 6]

In [28]:
b

[4, 5, 6]

### 4. 리스트 타입의 함수 (method)
* 종류

    - 리스트.append(추가할 아이템) : 인자값을 통채로 리스트의 마지막 아이템으로 추가, 인자값은 1개만 받음 = 1개의 아이템만 추가 가능

    - 리스트.extend(추가할 아이템) : 인자값의 아이템을 뽑아서 리스트의 마지막 아이템으로 추가, 인자값은 1개만 받음, 단 여러 개의 아이템 추가 가능
    
    - 리스트.insert(인덱스번호, 추가할 아이템) : 위치를 지정해서 아이템을 삽입할 수 있음, 통채로 아이템을 추가
    
    - 특징 : 원본에 바로 적용이 됨
    
    
* 참고 연산자 : in 연산자 (결과값은 bool type)

In [2]:
# 리스트 생성하기
a = [1, 2, 3]
a

[1, 2, 3]

In [3]:
# append()
# 문법 : 리스트.append(추가할 아이템)
a.append(4)
a

[1, 2, 3, 4]

In [4]:
# 추가할 자료로 [5, 6]을 제공한다면?
a.append([5, 6])
a

[1, 2, 3, 4, [5, 6]]

In [13]:
a[4]

[5, 6]

In [15]:
# extend()
# 문법 : 대상리스트.extend(리스트만입력가능)
# append()와의 차이점 : 추가대상으로 리스트만 받을 수 있다.
# 리스트 길이만큼 인덱스가 연장된다(append는 무조건 1만큼만 연장됨)
a.extend([7, 8, 9])
a

[1, 2, 3, 4, [5, 6], 7, 8, 9]

In [18]:
# extend는 설령 하나의 인덱스만 연장해도 무조건 리스트로 추가해야함
a.extend([10])
a

[1, 2, 3, 4, [5, 6], 7, 8, 9, 10]

In [20]:
# insert()
# 문법 : 대상리스트.insert(인덱스번호, 추가할아이템)
# 다른 함수와의 차이점 : 아이템 추가가 지정인덱스에 실행됨
# append와의 유사점 : 하나의 인덱스번호에 모든 자료를 때려박음
# 교체가 아닌 추가이기 때문에 실제로 소실되는 자료는 없음
a.insert(0, 100)
a

[100, 1, 2, 3, 4, [5, 6], 7, 8, 9, 10]

In [21]:
a.insert(0, [99, 98])
a

[[99, 98], 100, 1, 2, 3, 4, [5, 6], 7, 8, 9, 10]

In [24]:
# in 키워드는 특정 요소가 리스트 내에 있는지 없는지 여부를 물어봅니다.
# 값 in 리스트
# 100이 a리스트 내에 존재하나요? => 100 in a
5 in a[6]

True

In [25]:
# not in 키워드는 특정 요소가 리스트 내부에 없는지를 물어봅니다.
# 값 not in 리스트
# 50이 a 리스트에 없습니까? -> 50 not in a
10 not in a

False

### << 연습문제 >>

아래의 순서에 맞추어 직접 실행해보세요.

1) 빈 리스트 생성


2) 1번 리스트에 숫자 1,2,3 을 아이템으로 추가


3) 2번 리스트의 3번째 위치에 문자 100 을 아이템으로 추가


4) 3번 리스트의 마지막에 문자 A, B를 아이템으로 가진 리스트를 아이템으로 추가


5) 4번 리스트의 아이템을 2번 반복해서 가지는 리스트를 출력

In [26]:
#1) 빈 리스트 생성
list1 = list()

In [30]:
#2) 1번 리스트에 숫자 따로따로 1,2,3 을 아이템으로 추가
#list1.append(1)
#list1.append(2)
#list1.append(3)
list1.extend([1, 2, 3])

[1, 2, 3]

In [31]:
#3) 2번 리스트의 2번째(사람기준 3번째) 위치에 문자 100 을 아이템으로 추가
list1.insert(2, 100)
list1

[1, 2, 100, 3]

In [32]:
#4) 3번 리스트의 마지막에 문자 A, B를 아이템으로 가진 리스트를 아이템으로 추가
list1.append(['A', 'B'])

In [33]:
list1

[1, 2, 100, 3, ['A', 'B']]

In [35]:
#5) 4번 리스트의 아이템을 2번 반복해서 가지는 리스트를 출력
list1 * 2

[1, 2, 100, 3, ['A', 'B'], 1, 2, 100, 3, ['A', 'B']]

### 5. 아이템 수정하기

- 인덱싱, 슬라이싱을 이용해서 아이템을 수정할 수 있다.

In [36]:
# 리스트 생성하기
a = [1, 2, 3, 4]

In [37]:
# 하나의 아이템 수정하기
# 0번 인덱스에 있는 값을 [10, 20]으로 수정하기
# 결과 : [[10, 20], 2, 3, 4]
a[0] = [10, 20]
a

[[10, 20], 2, 3, 4]

In [38]:
# 연속된 범위에 있는 여러개의 아이템 수정하기
# 0번 인덱스만 선택 <= 슬라이싱
a2 = [1, 2, 3, 4]
a2[:1] = [10, 20]
a2

[10, 20, 2, 3, 4]

In [40]:
# 슬라이싱으로 값을 할당할 때의 주의점 : 전달하는 값은 1개여도 리스트로
# 동작원리가 extend()와 동일하기 때문에
a2[0:1] = [100]

In [41]:
a2

[100, 20, 2, 3, 4]

### << 연습문제 >>

아래 조건에 맞추어 리스트를 수정하세요.

    [ 10, 99, 3, '사과', 73, '바나나' ]
    
조건1)  '사과'를 'apple'로 수정

조건2)  99, 3 을 9, 33으로 수정

조건3)  73 을 [ 73, 74 ] 로 수정

In [42]:
a = [10, 99, 3, '사과', 73, '바나나']

In [43]:
# 조건1)  '사과'를 'apple'로 수정
a[3] = 'apple'
a

[10, 99, 3, 'apple', 73, '바나나']

In [44]:
# 조건2)  99, 3 을 9, 33으로 수정(슬라이싱을 활용해주세요.)
a[1:3] = [9, 33]
a

[10, 9, 33, 'apple', 73, '바나나']

In [45]:
# 조건3)  73 을 [ 73, 74 ] 로 수정
a[-2] = [73, 74]
a

[10, 9, 33, 'apple', [73, 74], '바나나']

### 6. 아이템 삭제하기

* 슬라이싱

* del 키워드 + 인덱싱/슬라이싱

* remove() 메서드 : 값을 기준으로 삭제

* pop()
    - 인자값에 아무것도 입력하지 않거나 -1을 입력하면 마지막 인덱스를 삭제
    - 특정 인덱스를 지정해 삭제할 수도 있음.

In [46]:
# 리스트 생성하기
a1 = [10, 20, 30, 40, 50]
a2 = [10, 20, 30, 40 ,50]

In [47]:
# 하나의 아이템 삭제하기 1 - 슬라이싱 + 빈 리스트를 이용하는 방법
# 0번 인덱스 값을 삭제
a1[:1] = []
a1

[20, 30, 40, 50]

In [48]:
# 만약 슬라이싱이 아닌 인덱싱 지정 후 빈 리스트 대입시...
a2[0] = []
a2

[[], 20, 30, 40, 50]

In [49]:
# 하나의 아이템 삭제하기 2 - del 키워드 + 인덱싱
del a1[-1]
a1

[20, 30, 40]

In [50]:
# 만약 인덱싱 없이 del키워드를 쓴다면....
# 특정 리스트 전체를 통째로 삭제해버림
del a2

In [51]:
a2

NameError: name 'a2' is not defined

In [52]:
# 하나의 아이템 삭제하기 3 - remove() 메서드
# 문법 : 리스트.remove(삭제할자료(인덱스 아님!!!))
a = [1, 2, 3, 3, 3, 4, 5]

In [59]:
# 5라는 값을 삭제
a.remove(5)
a

[1, 2, 3, 3, 3, 4]

In [60]:
# 중복된 아이템이 존재하면 가장 앞서는 인덱스 자료 하나만 삭제
a.remove(3)
a

[1, 2, 3, 3, 4]

In [61]:
# del 키워드는 단일 자료 뿐만 아니라 연속된 범위(슬라이싱) 자료 삭제도 가능하다
del a[2:]
a

[1, 2]

In [62]:
# 하나의 아이템 삭제하기 4 - pop() 메서드
# 마지막에 위치한 값이 몇이었는지 확인시켜주고 삭제함
a = [1, 2, 3, 4, 5]
a.append(6)
a

[1, 2, 3, 4, 5, 6]

In [63]:
a.pop() # 인덱스번호 미기입시 마지막 인덱스 자료 삭제(현재 기준으로는 6 삭제)

6

In [64]:
a

[1, 2, 3, 4, 5]

In [65]:
# 삭제하려는 인덱스 번호를 지정하면 마지막이 아닌 입력된 인덱스 위치 자료를 삭제합니다.
a.pop(2)

3

In [66]:
a

[1, 2, 4, 5]

### 7. 아이템 정렬하기

* 함수

    -sort( ) : 기본동작 = 오름차순정렬(작은값이 먼저오고 큰값이 나중에)
    
    -reverse( ) : 기존 리스트의 처음과 마지막 순서를 뒤집어서 나열

In [67]:
a = [10, -30, 57, -33, 71, 1, 34, -2]

In [70]:
# 값을 오름차순으로 정렬 : sort() 기본동작 / sort(reverse=False)
# 원본 리스트 변경됨
a.sort()#reverse=False)
a

[-33, -30, -2, 1, 10, 34, 57, 71]

In [71]:
# 값을 오름차순이 아닌 내림차순으로 정렬하는 경우 : .sort(reverse=True)
a.sort(reverse=True)
a

[71, 57, 34, 10, 1, -2, -30, -33]

In [72]:
# 값을 인덱스기준으로 반대로 뒤집기 : reverse()
b = [10, 71, 32, 46, 5, 95]

In [73]:
b.reverse()
b

[95, 5, 46, 32, 71, 10]

### 8. 아이템 개수 세기

* 함수

    - 리스트.count(값) : 조회값이 리스트 내부에 몇 개 있느니 개수를 보여줌
    
    - len() : 파이썬 내장함수로 리스트 내부에 전체 아이템이 몇 개 있는지 보여줌

In [74]:
a = [1, 2, 3, 3, 3, 4, 5, 6]

In [75]:
# 특정 아이템의 개수 : count()
a.count(6)

1

In [76]:
# 전체 아이템의 개수 : len()
len(a)

8

### 9. 리스트 복사하기

* 할당기호(=)

* copy() 메서드

* list()

* 슬라이싱

In [78]:
# 1. 할당기호(=)로 복사하기
a = [1, 2, 3, 4, 5]
b = a

In [79]:
print(a, b)

[1, 2, 3, 4, 5] [1, 2, 3, 4, 5]

In [80]:
# 주소를 찍고 싶다면 id(변수)를 쓰면 해당 자료가 저장된 주소를 조회할 수있습니다.
print(id(a), id(b))

2123666827904 2123666827904

In [81]:
# = 을 이용해 복사한 요소는 동일한 지점을 가리키는 복사이다.
a[0] = 10

In [82]:
a

[10, 2, 3, 4, 5]

In [83]:
b

[10, 2, 3, 4, 5]

In [86]:
# 2. copy() 메서드로 복사하기
c = a.copy()

In [87]:
# id를 이용해 a, b
# 그리고 a, c 주소를 각각 print()로 묶어서 찍어보세요.
print(id(a), id(b))
print(id(a), id(c))

2123666827904 2123666827904
2123666827904 2123667209024

In [88]:
print(a, c)

[10, 2, 3, 4, 5] [10, 2, 3, 4, 5]

In [89]:
# a를 변경해도 c는 영향을 받지 않는다.
a[2] = 20
print(a, b, c)

[10, 2, 20, 4, 5] [10, 2, 20, 4, 5] [10, 2, 3, 4, 5]

In [90]:
# 3. list()로 복사하기
# list(자료)를 넣으면 그 자료를 새로 할당해 리스트화해준다.
d = list(c)

In [91]:
print(c, d)

[10, 2, 3, 4, 5] [10, 2, 3, 4, 5]

In [92]:
# c, d도 주소가 다릅니다(깊은복사)
print(id(c), id(d))

2123667209024 2123667163328

In [93]:
# 4. 슬라이싱으로 전체 범위 지정해 대입시에도 깊은복사
e = d[:]
print(id(d), id(e))

2123667163328 2123667176640

In [94]:
print(d, e)

[10, 2, 3, 4, 5] [10, 2, 3, 4, 5]

### << 연습문제 >>

1. a 리스트를 이용하여 다음과 같은 문자열을 출력하시오.

    a = ['Life', 'is', 'too', 'short', 'you', 'need', 'python']

    출력문 : you too

In [95]:
# 위 출력문을 출력해주세요.
a = ['Life', 'is', 'too', 'short', 'you', 'need', 'python']
print(a[4], a[2])

you too

2. a 리스트의 길이를 구하세요

In [96]:
len(a)

7

3. a 리스트의 첫번째 아이템에 길이를 추가하세요

    ( 결과 )   [7, 'Life', 'is', 'too', 'short', 'you', 'need', 'python']

In [97]:
a.insert(0, len(a))
a

[7, 'Life', 'is', 'too', 'short', 'you', 'need', 'python']

4.아래와 같이 크기 순서가 없는 리스트를 만들고 내림차순 정렬로 바꿔보세요.

      [1, 4, 9, 2, 6, 10]  
      
      ( 결과 )  [10, 9, 6, 4, 2, 1]

In [98]:
b = [1, 4, 9, 2, 6, 10]
#b.sort(reverse=True)
b.sort()
b.reverse()
b

[10, 9, 6, 4, 2, 1]

## 자료형 - Tuple

- 생성 문법 기호 : ( )
- 아이템을 수정/삭제할 수 없기 때문에 실수로 데이터가 변경되거나 삭제되는 위험이 적다.
- 객체를 저장하는데 더 적은 메모리를 사용한다.
- dictionay 자료형의 key로 활용할 수 있다.
- 함수의 인자는 tuple 자료형으로 전달된다.

### 1. 생성하기

In [99]:
# 하나의 아이템을 가진 리스트
a = [1]
type(a)

list

In [102]:
# 문법기호 : 소괄호는 작성해도 되고 생략해도 됨, 대신 쉼표는 무조건 1개이상 들어감
tu = 1,
type(tu)

tuple

In [103]:
# tuple(리스트) 로 처리하면 리스트를 튜플로 교환할 수 있다.
b = tuple(a)
print(type(a), type(b))
print(a, b)

<class 'list'> <class 'tuple'>
[1] (1,)

In [104]:
# 변수 하나에 여러 값을 ,로 나열해 대입해도 튜플로 간주된다.
x = 56, 78, 29, 100
print(x)
print(type(x))

(56, 78, 29, 100)
<class 'tuple'>

In [106]:
# 튜플 내부의 자료 개수만큼 변수를 대입해주면 하나씩 나눠서 값을 받는다.
x1, x2, x3 = 1, 2, 3
print(x1)
print(x2)
print(x3)

1
2
3

### 2. 인덱싱

In [107]:
x[0]

56

### 3. 슬라이싱

In [108]:
x[:3]

(56, 78, 29)

### 4. 튜플 연산자

* 산술 연산자 : +, *

In [109]:
# 여러 개의 튜플의 아이템을 합쳐서 새로운 튜플 만들기 : +
x + x

(56, 78, 29, 100, 56, 78, 29, 100)

In [110]:
# 원본에 영향이 없으므로 해당 로직을 실행하는데 논리적 문제가 없음
x

(56, 78, 29, 100)

In [111]:
# 한 개의 튜플을 반복해서 확장해서 새로운 튜플 만들기 : *
x * 3

(56, 78, 29, 100, 56, 78, 29, 100, 56, 78, 29, 100)

In [112]:
x

(56, 78, 29, 100)

### 5. 수정/삭제 할 수 없는 튜플

In [113]:
# 수정하기 -> 인덱싱으로 하나의 아이템에 접근해서 수정
x[0] = 0

TypeError: 'tuple' object does not support item assignment

In [114]:
# 삭제하기 - del 키워드 + 인덱싱
del x[0]

TypeError: 'tuple' object doesn't support item deletion